// Header
.toolbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.fixed-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.toolbar-container {
    padding-top: 2px;
    padding-bottom: 2px;
}

.toolbar-background {

    
    
    background-color: #360B96;
      background-image: linear-gradient(to right, #360B96, #D10E4F);
      height: 90px;
      background-repeat: round;
      background-size: cover;
      padding: 0 20px;
      position: relative;
      overflow: hidden;
      &:after {
    content: '';
    background: url('/../../../../../../../assets/imgs/header.png') no-repeat;
    height: 100%;
    width: 50%;
    left: 200px; 
    //move header.png to right so home button can be click
    position: absolute;
  }
}


body {
    background-color: #F8F8F8;
    font-size: 18px;
}



.logo-text {
    // display: inline-block;
    border-radius: 50px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    float: right;
    font-size: 30px;
    line-height: inherit;
    white-space: nowrap;
    color: white;
    font-weight: bold;

}

.left {
    float: left;
    border-radius: 50px;
}

.right {
    float: right;
    border-radius: 50px;
}

.img {
    ;
    //width: 55px;
    //height: 52px;
    
}

    
.imgFb {
    border-radius: 50px;
    //width: 55px;
    //height: 52px;
    
}

.dropdown-toggle::after {
    content: none; 
}

.dropdown-menu {
    font-size: 18px;
    min-width: 16rem;
}

.dropdown-content {
    padding: 10px;
}

.btn {
    padding: .100rem 0.5rem;
    padding-bottom: .3125rem;
}


body>header:after {
    content: '';
    background: url('/../../../../../../../assets/imgs/header.png') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute; }



// Responsive
@media (min-width: 0px) and (max-width: 320px) { 
    .logo-text {
        font-size: 23px;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .img {
        
        width: 45px;
        height: 42px;

    }

    header:after {
    content: '';
    background: url('/../../../../../../../assets/imgs/header.png') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute; }

 }

@media (min-width: 321px) and (max-width: 390px) { 
    .logo-text {
        font-size: 27px;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    header:after {
    content: '';
    background: url('/../../../../../../../assets/imgs/header.png') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute; }
}
