<!-- Header margin-left: -300px;-->
<nav class="toolbar toolbar-background fixed-top" *ngIf="statusHeader == 0">

    <span class="logo-text left" (click)="backToQuestion()" style="cursor: pointer ;">
     
     <img class="img" src="/../../../../../../../assets/icon/logo.png">
    </span>




    <span class="logo-text right" style="margin-right:">
      <img class="img" src="/../../../../../../../assets/icon/icon-person.png">
    </span>

</nav>

<nav class="toolbar toolbar-background fixed-top" *ngIf="statusHeader == 1">




    <span class="logo-text left" (click)="backToQuestion()" style="cursor: pointer ;">
     <img class="img" src="/../../../../../../../assets/icon/logo.png">
    </span>





    <span class="logo-text right" style="cursor: pointer ;" >
      
    
        <img class="imgFb" id="dropdownBasic1"  [src]="facebookPicture"> 
         <span style="padding-left: 18px"></span>
         <span class="logo-text right" (click)="facebookLogout()" style="cursor: pointer ;" >
           <div style="text-align: center">
          <button class="btn btn-danger"  (click)="facebookLogout()">
            <span>Logout</span>
          </button>
        </div>  
    </span>
  </span>
       
          
     
</nav>
