// Content
.content-container {
    // padding-top: 25px;
    // text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.result-img {
    height: 400px;
    width: 100%;
}

.card-img {
    height: 400px;
    width: 100%;
}

.card-text {
    padding-top: 18px;
    font-weight: bold;
    font-size: 24px;
    color: #4a4a4a;
}

.card-button {
    padding-top: 14px;
}

.button {
    border: none;
    color: white;
    padding: 12px;
    padding-left: 40px;
    width: 71%;
    height: 60px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
}

.button-facebook {
    background-color: #46629c;
    border-radius: 8px;
}

.button-facebook:hover {
    background-color: #435e94;
}

.button-icon {
    width: 40px;
}

.content-text {
    padding-left: 286px;
    padding-right: 286px;
}

.spinner {
    top:50%; 
    left: 45%; 
    position: absolute;
}

.refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

div i.refresh-animate {
    width: 80px;
    font-size: 80px;
    color: red;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(0) rotate(360deg);}
}


.card-button {
    padding-top: 130px;
    padding-left: 180px;
    padding-right: 180px;
    text-align: center;
}

.card-container {
    text-align: center;
    color: #007bff;
    cursor: pointer;
}

.card-container:hover {
    border: solid 1px #007bff;
}

.img {
    width: 100%;
    height: 230px;
}


// Responsive
@media (min-width: 0px) and (max-width: 320px) { 
    .spinner {
        left: 40%; 
    }

    .card-img {
        height: auto;
        width: 100%;
        height: 170px;
    }

    .col-sm-12, .col-lg-8  {
        padding-left: 1px;
        padding-right: 1px; 
    }

    .card-text {
        font-size: 18px;
        color: black;
    }

    .button {
        padding: 10px;
        padding-left: 20px;
        width: 90%;
        height: 50px;
        font-size: 17px;
    }

    .button-icon {
        width: 30px;
    }

    .content-text {
        padding-left: 5px;
        padding-right: 5px;
    }

    .result-img {
        height: 200px;
        width: 90%;
    }

    .card-button {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 321px) and (max-width: 390px) { 
    .spinner {
        left: 40%; 
    }

    .card-img {
        height: auto;
        width: 100%;
        height: 200px;
    }

    .col-sm-12, .col-lg-8  {
        padding-left: 1px;
        padding-right: 1px; 
    }

    .card-text {
        font-size: 18px;
        color: black;
    }

    .button {
        padding: 10px;
        padding-left: 20px;
        width: 90%;
        height: 55px;
        font-size: 18px;
    }

    .button-icon {
        width: 30px;
    }

    .content-text {
        padding-left: 5px;
        padding-right: 5px;
    }

    .result-img {
        height: 200px;
        width: 90%;
    }

    .card-button {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
}

@media (min-width: 400px) and (max-width: 576px) { 
    .spinner {
        left: 40%; 
    }

    .card-img {
        height: auto;
        width: 100%;
        height: 230px;
    }

    .col-sm-12, .col-lg-8  {
        padding-left: 1px;
        padding-right: 1px; 
    }

    .card-text {
        font-size: 21px;
        color: black;
    }

    .button {
        padding: 10px;
        padding-left: 20px;
        width: 90%;
        height: 60px;
        font-size: 21px;
    }

    .button-icon {
        width: 30px;
    }

    .content-text {
        padding-left: 5px;
        padding-right: 5px;
    }

    .result-img {
        height: 200px;
        width: 90%;
    }

    .card-button {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){ 
    .card-text {
        font-size: 21px;
        color: black;
    }

    .card-button {
        padding-top: 14px;
    }

    .button {
        padding: 10px;
        padding-left: 20px;
        width: 90%;
        height: 60px;
        font-size: 21px;
    }

    .button-icon {
        width: 30px;
    }

    .card-button {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .content-text {
        font-size: 24px;
        padding-left: 50px;
        padding-right: 50px;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .card-text {
        font-size: 21px;
        color: black;
    }

    .card-button {
        padding-top: 14px;
    }

    .button {
        padding: 10px;
        padding-left: 20px;
        width: 90%;
        height: 60px;
        font-size: 21px;
    }

    .button-icon {
        width: 30px;
    }

    .card-button {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .content-text {
        font-size: 24px;
        padding-left: 50px;
        padding-right: 50px;
    }
}