<!-- Header -->
<app-header></app-header> <!-- RESULT PAGE -->
<canvas #canvas style="display: none" width="1200" height="630"></canvas>

<!-- Content -->
<div class="container content-container" *ngIf="statusSpinner == 1">
  <div class="row mt-4">
    <div class="col-lg-7 col-sm-12 md-2" style="margin: 0 auto; text-align: center;">
      <img class="result-img" [src]="getImageCanvas"> <!-- get canvas image from result.component.ts -->
    </div>
  </div>
  <br>
  <div class="content-text">
    <span style="float: left;">{{getAnswer}}  {{getContent}}</span> <!-- show user answer and answer result -->
  </div>
  <br>
  <div class="card-button">
    <button class="button button-facebook" (click)="shareWithOpenGraphActions()">
      <span>Share</span>
    </button>
  </div>

  <div style="padding-top: 60px; padding-bottom: 60px">
    <div class="row" *ngIf="statusSpinner == 1">
      <div class="col-lg-4 col-sm-6 mb-2" *ngFor="let data of getData;"> 
        <div class="card-container" (click)="gotoQuiz(data._id, data.questionSetName, data.imgCover)">
          <a>
            <img class="card-img-top img" src="{{currentPath}}/upload/questionSet/{{data.imgCover}}"> 
            <p class="m-2">{{data.questionSetName}}</p> <!-- show others question set -->         
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Spinner -->
<div class="spinner" *ngIf="statusSpinner == 0">
  <i class="material-icons refresh-animate">
    donut_large
  </i>
</div>
<!-- End Spinner -->