.content {
    padding-top: 24px;
    padding-left: 80px;
    padding-right: 80px;
}

.header-text {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.content-text {
    font-size: 16px !important;
    line-height: 1.6 !important;
    color: #222 !important;
}

// Responsive
@media (min-width: 0px) and (max-width: 320px) { 
    .header-text {
        font-size: 27px;
    }

    .content {
        padding-top: 24px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 321px) and (max-width: 390px) { 
    .header-text {
        font-size: 30px;
    }

    .content {
        padding-top: 24px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 400px) and (max-width: 576px) { 
    .header-text {
        font-size: 30px;
    }

    .content {
        padding-top: 24px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
