<!-- Header -->
<app-header></app-header>

<!-- Content -->
<div class="container">
  <div class="content">
    <div class="header-text">
      ข้อกำหนด และเงื่อนไขของ Test4Fun
    </div>
    <hr>
    <div class="content-text">
      <p>บริษัท ขอขอบพระคุณท่านผู้ใช้บริการทุกท่าน ที่เข้ามาเยี่ยมชมและใช้บริการทําธุรกรรมต่าง ๆ ผ่านเว็บไซต์ของบริษัท
        เพื่อเป็นการสร้างความเชื่อมั่น และทําความเข้าใจเกี่ยวกับการใช้บริการของบริษัท
        บริษัทขอเรียนว่าบริษัทมีนโยบายในการคุ้มครองข้อมูลส่วนบุคคลของผู้ใช้บริการทุกท่านโดยสังเขปดังนี้</p>

      <span style="font-size: 27px; font-weight:500">ข้อมูลส่วนบุคคคล</span>

      <p style="padding-top:12px">ข้อมูลส่วนบุคคล ที่ท่านได้ให้หรือ ใช้ผ่านการประมวลผล ของเครื่องคอมพิวเตอร์
        ที่ควบคุมการทํางานของเว็บไซต์ของบริษัททั้งหมดนั้น ท่านยอมรับและตกลงว่าบริษัทสามารถใช้ข้อมูลดังกล่าวได้
        ซึ่งบริษัทจะใช้ความพยายามอย่างดีที่สุดที่จะคุ้มครองข้อมูลส่วนบุคคลดังกล่าว โดยบริษัทขอเรียนว่า ปัจจุบันบริษัท
        ได้ใช้ระบบรักษาความปลอดภัยที่ได้มาตรฐานระดับสากล เพื่อคุ้มครองข้อมูลดังกล่าว อย่างไรก็ตาม
        เพื่อความปลอดภัยในข้อมูลส่วนบุคคลของท่าน ท่านต้องปฏิบัติตามข้อกําหนด และเงื่อนไข
        การใช้บริการและเว็บไซต์ของบริษัทโดยเคร่งครัด</p>
      <p>ในกรณีที่ท่านได้รับความเสียหาย อันเกิดจากความสูญหาย หรือเสียหายของข้อมูลส่วนบุคคล หรือเกิดจากเหตุใดก็ตาม
        ซึ่งรวมถึงแต่ไม่จํากัดเฉพาะ เกิดจากการถูกจารกรรม โดยวิธีการทางอิเล็กทรอนิกส์ (hack) หรือเกิดจากเหตุสุดวิสัย
        หรือไม่ว่ากรณีใดๆ ทั้งสิ้น บริษัทขอสงวนสิทธิ ในการปฏิเสธ ความรับผิดจากเหตุดังกล่าวทั้งหมด
        และบริษัทไม่ต้องรับผิดชอบต่อความเสียหาย สูญหายใดๆ ที่เกิดขึ้นทั้งสิ้น</p>
      <p>เพื่อความปลอดภัยในข้อมูลส่วนบุคคลของท่าน และผู้ใช้บริการท่านอื่น และเพื่อความเป็นระเบียบเรียบร้อย
        ในการใช้บริการ ท่านตกลงว่า ท่านจะไม่กระทําการใด อันเป็นการล่วงละเมิดสิทธิส่วนบุคคล
        หรือสิทธิอื่นใดของบุคคลภายนอก และ/หรือสิทธิในทรัพย์สินทางปัญญาของบริษัท หรือของบุคคลภายนอก
        รวมทั้งต้องไม่กระทําการใดอันขัดต่อกฎหมาย และ/หรือศีลธรรมอันดีของประชาชน โดยจะไม่ส่งเนื้อหา รวมถึงการนําข้อความ
        รูปภาพ หรือ ภาพเคลื่อนไหว ที่ไม่เหมาะสม ไม่สุภาพ มีลักษณะเสียดสี ก่อให้เกิดความขัดแย้ง เป็นความลับ หรือเป็นเท็จ
        รวมทั้งข้อความและรูปภาพที่มีลักษณะขัดต่อกฎหมาย หรือศีลธรรมอันดีของประชาชน เผยแพร่ผ่านบริการ
        หรือกระทําการอื่นใดอันอาจก่อให้เกิดความสูญเสีย หรือเสียหายต่อบริษัท และ/หรือบุคคลภายนอก </p>

      <span style="font-size: 27px; font-weight:500">ลิขสิทธิ์ตามกฎหมาย (Copyrights)</span>

      <p style="padding-top:12px">บริษัทขอแจ้งให้ผู้ใช้บริการทั่วไปทราบว่า บรรดาข้อความ ภาพ เสียง เนื้อหา ส่วนประกอบใด
        ๆ ทั้งหมดของเว็บไซต์ รวมถึงแต่ไม่จํากัดเฉพาะเครื่องหมายการค้า เครื่องหมายบริการ ชื่อ ชื่อทางการค้า สิทธิบัตร
        โนว์ฮาวส์ ฯลฯ ที่ปรากฎบนเว็บไซต์ของบริษัทนี้ เป็นงานอันได้รับ ความคุ้มครอง ตามกฎหมายทรัพย์สินทางปัญญา
        ของไทยโดยชอบด้วยกฎหมายของบริษัท แต่เพียงผู้เดียวด</p>
      <p>หากบุคคลใด ลอกเลียน ปลอมแปลง ทำซ้ำ ดัดแปลง เผยแพร่ต่อสาธารณชน จําหน่าย มีไว้ให้เช่าหรือกระทําการใด ๆ
        ในลักษณะที่เป็นการแสวงหาประโยชน์ ทางการค้าหรือ ประโยชน์โดยมิชอบ ไม่ว่าโดยประการใด ๆ
        จากทรัพย์สินทางปัญญาดังกล่าวข้างต้น โดยไม่ได้รับอนุญาตจากบริษัท
        บริษัทจะดําเนินการตามกฎหมายกับผู้ละเมิดสิทธิดังกล่าวโดยทันที</p>
      <p>บริษัทสงวนสิทธิที่จะแก้ไข ปรับปรุง และเปลี่ยนแปลงข้อความทางกฎหมายนี้ได้ตลอดเวลา ตามที่บริษัทเห็นสมควร
        โดยไม่ต้องบอกกล่าว</p>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
