.bg-pink {
	padding-bottom: 50px;
  margin-bottom: -50px;
  padding-top: 25px;
  border-bottom:500px ;
	font-size: 15px; 
	vertical-align: middle ;
	
    //background: url('./../../../../../../../assets/imgs/1.jpg');
    background: #d21a58; 
}

.fLeft{float: left;
vertical-align: middle;  }

.fRight{float: right;
    list-style: none;
    text-align: right;
    vertical-align: middle ;
    }


.text-policy {
    color: white;
    cursor: pointer;
}

.text-policy:hover {
    color: #007bff;
    border-bottom: solid 1.5px #007bff;
}

body > footer {
  background-color: #d21a58;
  color: #fff;
  font-size: 15px;
  padding: 30px 20px;
  margin-top: 30px;
  > div {
    overflow: hidden;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
  p {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    padding: 0;
    text-align: right;
  }
  li {
    margin-left: 10px;
    display: inline;
  }
  a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}