<div style="padding-top: 25px;">

  <footer class="bg-pink">
    <div class="container">
      <p class="fLeft text-white text-align: center vertical-align: middle  ">Copyright &copy; Test4Fun 2018</p>
      <ul><p class="fRight text-align: center vertical-align: middle  "><span class="text-policy" (click)="gotoPolicy()">นโยบายการใช้งาน</span></p></ul>
      <div></div>
    </div>

    <!-- /.container -->
  </footer>

</div>


