<!-- Header  หน้า LIST คำถาม-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TEST 4 FUN">
    <meta name="author" content="TEST 4 FUN">
    <title>TEST 4 FUN </title>
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
</head>



<app-header>
</app-header>


<!-- Content -->
<div class="container content-container">
    <!-- */ Banner 970x250 Section -->
    <!-- <div id="billboard" >
        <img src="./../../../../../../../assets/imgs/banner/banner970x250.png" class="smallCenter">
    </div> -->
  <div class="row" *ngIf="statusSpinner == 1">







    <div class="col-lg-4 col-sm-6 mb-2" *ngFor="let data of getData;">
      <div class="card-container" (click)="gotoQuiz(data._id, data.imgCover)">
        <a>
          <img class="card-img-top img" src="{{currentPath}}/upload/questionSet/{{data.imgCover}}">
          	<!--img class="card-img-top img" src="http://localhost/upload/questionSet/{{data.imgCover}}"-->
          <p class="m-2">{{data.questionSetName}}</p>
        </a>
      </div>
    </div>
  </div>




  <div style="padding-top: 25px">
    <ul class="pagination justify-content-center" *ngIf="numData == 9">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container content-container">
    <!-- /* Footer Banner 728x90 Section-->
    <!-- <div>
        <img src="./../../../../../../../assets/imgs/footbanner.png" class = "smallCenter" >
    </div> -->
</div>
<!-- Spinner -->
<div class="spinner" *ngIf="statusSpinner == 0">
  <i class="material-icons refresh-animate">
    donut_large555
  </i>
</div>

<!-- /* Load more section-->
<!-- <p id="loadmore" >Load More</p> -->

<!-- End Spinner -->

<!-- Footer -->
<app-footer  *ngIf="statusSpinner == 1"></app-footer>