// Content
.content-container {
    padding-top: 40px;
}

.card-container {
    text-align: center;
    color: #007bff;
    cursor: pointer;
}

.card-container:hover {
    border: solid 1px #007bff;
}

.img {

    width: 100%;
    height: 230px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 30px;
}
.smallCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.spinner {
    top:50%; 
    left: 45%; 
    position: absolute;
}

.refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}


#loadmore {
    
    background: url('/../../../../../../../assets/imgs/down.png') no-repeat ;
    background-position: center 100%;
    border: 1px solid #D80E4C;
    text-align: center;
    max-width: 1024px;
    width: 100%;
    width: 500px;
    padding: 10px 0 20px;
    margin: 0 auto;
    border-radius: 5px; 
}

#loadmore p {
    color: #D80E4C;
    text-align: center;
    line-height: 0px;
    cursor: pointer;
}

body>footer>div {overflow: hidden; max-width: 1024px; width: 100%; margin: 0 auto; }
body>footer p {float: left; }
body>footer ul {float: right; list-style: none; padding: 0; text-align: right;  }
body>footer li {margin-left: 10px; display: inline; }
body>footer a {color: #fff; text-decoration: none; background-color: transparent; }
body>footer a:hover {color: #fff; text-decoration: none; }




@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

div i.refresh-animate {
    width: 80px;
    font-size: 80px;
    color: red;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(0) rotate(360deg);}
}







// Responsive
@media (min-width: 0px) and (max-width: 320px) { 
    .spinner {
        left: 40%; 
    }

    .content-container {
        padding-top: 18px;
    }
}

@media (min-width: 321px) and (max-width: 390px) { 
    .spinner {
        left: 40%; 
    }

    .content-container {
        padding-top: 15px;
    }
}

@media (min-width: 400px) and (max-width: 576px) { 
    .spinner {
        left: 40%; 
    }
    
    .content-container {
        padding-top: 18px;
    }
}