// Content
.content-container {
    // padding-top: 15px;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.card-body {
    text-align: left;
}

.spinner {
    top:50%; 
    left: 45%; 
    position: absolute;
}

.refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

div i.refresh-animate {
    width: 80px;
    font-size: 80px;
    color: red;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(0) rotate(360deg);}
}

// Responsive
@media (min-width: 0px) and (max-width: 320px) { 
    // .content-container {
    //     padding-top: 5px;
    // }

    .card-img {
        height: auto;
        width: 100%;
        height: 170px;
    }

    .col-sm-12, .col-lg-8  {
        padding-left: 1px;
        padding-right: 1px; 
    }

    .card-text {
        font-size: 18px;
        color: black;
    }

    .button {
        padding: 10px;
        padding-left: 20px;
        width: 90%;
        height: 50px;
        font-size: 17px;
    }

    .button-icon {
        width: 30px;
    }
}

@media (min-width: 321px) and (max-width: 390px) { 
    // .content-container {
    //     padding-top: 5px;
    // }
}

@media (min-width: 400px) and (max-width: 576px) { 
    // .content-container {
    //     padding-top: 10px;
    // }
}