<!-- Header -->
<app-header></app-header>
<p style="top: 0;">
  <ngb-progressbar [striped]="true" type="danger" [value]="numLoop" [max]="numObj">
    <span style="text-align: center">{{numLoop}}/{{numObj}}</span>
  </ngb-progressbar>
</p>

<!-- Content -->
<!-- USER ANSWER QUIZ PAGE -->
<div class="container content-container">
  <div class="row mt-4">
    <div class="col-lg-7 col-sm-12 md-2" style="margin: 0 auto">
      <!-- <img class="card-img-top" src="img/700x400.png" alt="">  -->
      <div class="card-body" *ngIf="statusSpinner == 1">
        <h4 class="card-title">{{question}}</h4>   
        <div *ngFor="let text of choice;let i=index">
          <div (click)="gotoResult(i)" style="cursor: pointer" *ngIf="text.text != null">
            <a class="list-group-item list-group-item-action mb-2">{{text.text}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Spinner -->
<div class="spinner" *ngIf="statusSpinner == 0">
  <i class="material-icons refresh-animate">
    donut_large
  </i>
</div>
<!-- End Spinner -->