<!-- Header หน้ากดลอคอินเฟสบุค-->
<app-header></app-header>






<!-- Content -->
<div class="container content-container" *ngIf="statusSpinner == 1">
  <div class="row mt-4">
    <div class="col-lg-8 col-sm-12 md-2" style="margin: 0 auto">
      <div class="card-body">
        <img class="card-img" [src]="imgCover">
        <div class="card-text">
          {{questionSetName}}
        </div>





        <div class="card-button">
          <button class="button button-facebook" (click)="Facebook()">
            <div class="left">

              <img class="button-icon" src="./../../../../../../../assets/icon/facebook.png"> <!-- facebook login button -->
            </div>
            <span>{{buttonText}} <span style="font-weight: 1600;">{{facebookFirtsName}}</span></span>
          </button>
        </div>

        <div class="card-button">
          <button class="button-share" (click)="shareWithOpenGraphActions()">

            <span> SHARE THIS QUESTION <span style="font-weight: 1600;"></span></span>
          </button>
        </div>




      </div>
    </div>
  </div>
</div>

<!-- Spinner -->
<div class="spinner" *ngIf="statusSpinner == 0">
  <i class="material-icons refresh-animate">
    donut_large
  </i>
</div>
<!-- End Spinner -->

<!-- SnackBar -->
<div class="snacbar" *ngIf="status == 1">
  <ngb-alert [type]="type" class="snacbar-font">{{ message }}</ngb-alert>
</div>

<!-- Footer -->
<app-footer *ngIf="statusSpinner == 1"></app-footer>