// Content
.content-container {
    padding-top: 25px;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.card-img {
    height: 400px;
    width: 100%;
}

.card-text {
    padding-top: 18px;
    font-weight: bold;
    font-size: 24px;
    color: #4a4a4a;
}

.card-button {
    padding-top: 14px;
}

.button {
    border: none;
    color: white;
    padding: 12px;
    padding-left: 40px;
    width: 80%;
    height: 65px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    // font-weight: 600;
}

.button-facebook {
    background-color: #46629c;
    border-radius: 50px;
}

.button-share {
    background-color: #46629c;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 5px;
    padding-left: 5px;
    width: 50%;
    height: 65px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    // font-weight: 600;
}


.button-facebook:hover {
    background-color: #435e94;
}

.button-icon {
    width: 40px;
}

.spinner {
    top:50%; 
    left: 45%; 
    position: absolute;
}

.refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

div i.refresh-animate {
    width: 80px;
    font-size: 80px;
    color: red;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(0) rotate(360deg);}
}

.snacbar {
    top: 100px; 
    right: 20px; 
    position: absolute;
}

.snacbar-font {
    font-size: 18px;
}


// Responsive
@media (min-width: 0px) and (max-width: 320px) { 
    .spinner {
        left: 40%; 
    }

    .content-container {
        padding-top: 0px;
    }

    .card-img {
        height: auto;
        width: 100%;
        height: 170px;
    }

    .col-sm-12, .col-lg-8  {
        padding-left: 1px;
        padding-right: 1px; 
    }

    .card-text {
        font-size: 18px;
        color: black;
    }

    .button {
        padding: 10px;
        padding-left: 20px;
        width: 100%;
        height: 50px;
        font-size: 17px;
    }

    .button-icon {
        width: 30px;
    }

    .snacbar {
        bottom: 0; 
        right: 0; 
        position: absolute;
    }

    .snacbar-font {
        font-size: 14px;
    }
}

@media (min-width: 321px) and (max-width: 390px) { 
    .spinner {
        left: 40%; 
    }

    .content-container {
        padding-top: 0px;
    }

    .card-img {
        height: auto;
        width: 100%;
        height: 200px;
    }

    .col-sm-12, .col-lg-8  {
        padding-left: 1px;
        padding-right: 1px; 
    }

    .card-text {
        font-size: 18px;
        color: black;
    }

    .button {
        padding: 10px;
        padding-left: 20px;
        width: 100%;
        height: 55px;
        font-size: 18px;
    }

    .button-icon {
        width: 30px;
    }

    .snacbar {
        bottom: 0; 
        right: 0; 
        position: absolute;
    }

    .snacbar-font {
        font-size: 14px;
    }
}

@media (min-width: 400px) and (max-width: 576px) { 
    .spinner {
        left: 40%; 
    }

    .content-container {
        padding-top: 0px;
    }

    .card-img {
        height: auto;
        width: 100%;
        height: 230px;
    }

    .col-sm-12, .col-lg-8  {
        padding-left: 1px;
        padding-right: 1px; 
    }

    .card-text {
        font-size: 21px;
        color: black;
    }

    .card-button {
        padding-top: 14px;
    }

    .button {
        padding: 10px;
        padding-left: 20px;
        width: 100%;
        height: 60px;
        font-size: 21px;
    }

    .button-icon {
        width: 30px;
    }

    .snacbar {
        bottom: 0; 
        right: 0; 
        position: absolute;
    }

    .snacbar-font {
        font-size: 14px;
    }
}